body {
  font-family: monospace;
}

.header {
  text-align: center;
}

.total {
  display: flex;
  flex-direction: column;
}

.cases {
  margin: 0;
  margin-top: 0.5em;
  text-align: center;
}

#india-total {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#india-total > div{
  margin: 1em;
}

#container {
  display: flex;
  flex-direction: column;
}

.confirmed {
  background-color: rgba(255, 5, 55, 0.2);
  color: rgba(255, 5, 55, 1);
}

.active {
  background-color: rgba(0, 123, 255, 0.2);
  color: rgba(0, 123, 255, 1);
}

.deceased {
  background-color: rgba(108, 117, 125, 0.2);
  color: rgba(108, 117, 125, 1);
}

.recovered {
  background-color: rgba(40, 167, 69, 0.2);
  color: rgba(40, 167, 69, 1);
}

.total {
  padding: 0.6em 2em;
  border-radius: 0.2em;
}

.delta {
  opacity: 0.6;
}

#states {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.state {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color:  rgba(108, 117, 125, 0.09);
  width: 25em;
  padding: .6em 1.3em;
  border-radius: 3px;
  margin: 0.3em;
}

.state > * {
  margin: 0.5em;
}

.confirmed-text {
  color: rgba(255, 5, 55, 1);
}

.active-text {
  color: rgba(0, 123, 255, 1);
}

.deceased-text {
  color: rgba(108, 117, 125, 1);
}

.recovered-text {
  color: rgba(40, 167, 69, 1);
}

.state-header {
  background-color: rgba(108, 117, 125, 0.2);
  padding: 0.5em 1em;
}

.value {
  font-weight: 600;
}

table {
  text-align: end;
}

.github {
  text-decoration: none;
  border-radius: 0.3em;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(40, 167, 69, 0.2);
  font-weight: 600;
  font-size: 1.2em;
  padding: 0.7em 5em;
}

footer {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img {
  height: 1.5em;
  margin-bottom: -0.3em;
}

footer > .github:hover {
  background-color: rgba(40, 167, 69, 0.3);
}

#search {
  margin:0 auto;
  margin-top: 2em;
  height: 2em;
  border-radius: 0.2em;
  padding: 1em 2em;
  outline: none;
  border: 1px solid #ccc;
  padding-right: 10em;
}

.hide {
  display: none;
}

h2 {
  opacity: 0.78;
  pointer-events: none;
}

.Orange-zone {
  border-left: 5px solid rgba(255, 165, 0, 1);
  background: rgba(255, 165, 0, 0.2); 
}

.Green-zone {
  border-left: 5px solid rgba(40, 167, 69, 1);
  background: rgba(40, 167, 69, 0.2);
}

.Unknown-zone {
  border-left: 5px solid rgba(108, 117, 125, 1);
  background: rgba(108, 117, 125, 0.2);
}

.Red-zone {
  border-left: 5px solid rgba(255, 5, 55, 1);
  background: rgba(255, 5, 55, 0.2);
}

.district {
  font-weight: 600;
  padding: 0.8em 0.4em;
  border-radius: 0.2em;
  text-align: left;
  color: rgb(61, 67, 72);
}

.state-info .col {
  padding: .25rem;
  background: rgba(155, 164, 173, 0.1);
  border-radius: 0.2em;
  word-wrap: break-word !important;
}

.state-info th {
  text-align: center;
  background-color: rgba(108, 117, 125, 0.2);
  padding: 0.5em;
}

.state {
  cursor: pointer;
}

.top {
  text-decoration: none;
  color: rgba(0, 123, 255, 1);
  background-color: rgba(0, 123, 255, 0.2);
  border-radius: 0.3em;
  font-weight: 600;
  font-size: 1.2em;
  padding: 0.7em 5.1em;
  margin-bottom: 1em;
}

.link {
  text-decoration: none;
  color: rgba(108, 117, 125, 1);
  background-color: rgba(108, 117, 125, 0.2);
  font-weight: 600;
  font-size: 1.2em;
  padding: 0.7em 2.4em;
  margin-top: 1em;
}

footer > .top:hover {
  background-color: rgba(0, 123, 255, 0.4);
}

footer > .link:hover {
  background-color: rgba(108, 117, 125, 0.4);
}

.state > table {
  pointer-events: none;
}

.state:hover {
  background-color: rgba(108, 117, 125, 0.2);
}

p {
  margin: 0 auto;
  text-align: center;
  margin-top: 2em;
  margin-bottom: .2em;
  max-width: 25em;
}